* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

h1,
h2,
h3 {
  font-family: "OpenSansCondensed-Bold", sans-serif;
  font-size: 4.8rem;
}

.btn {
  padding: 1.8rem 4.2rem;
  background-color: #16dcf0;
  border-radius: 5px;
  font-family: "OpenSans-SemiBold", serif;
  color: #fff;
  font-size: 1.8rem;
  height: 6rem;
}

.btn:hover {
  box-shadow: 0px 0px 8px 2px #16dcf0;
}

.btn:active {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  font-size: 1.75rem;
}

.wrapper {
  max-width: 129rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header {
  position: absolute;
  top: 0;
  padding-top: 3.6rem;
  width: 100%;
  font-size: 1.8rem;
  font-family: "OpenSansHebrewCondensed-Bold", sans-serif;
}

.logo__text {
  line-height: 2.5rem;
  display: flex;
  align-items: center;
  align-content: flex-start;
}

.header-menu {
  width: 513px;
}

.header-menu__navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header-menu__navbar-link {
  text-decoration: none;
  color: #fff;
}

.header-menu__navbar-link:hover,
.header-menu__navbar-link-active {
  border-bottom: 2px solid #fff;
  padding-bottom: 1rem;
}

.header-menu__navbar-link:hover {
  text-shadow: 0 0 1px #fff;
}

.search-box {
  display: flex;
  align-items: flex-start;
}

.search-form {
  border-bottom: 2px solid #fff;
  padding-bottom: 1rem;
}

.search-form__input {
  text-decoration: none;
  border: none;
  background: transparent;
  width: 12rem;
}

.search-form__button {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 1.7rem;
}

.favorites__button {
  color: #fff;
  margin-left: 1.1rem;
}

.banner {
  position: relative;
  min-height: 100vh;
  color: #fff;
  background: #87ceeb url(./../img/main.png) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-heading {
  text-align: center;
}

.banner-heading__text {
  font-family: "OpenSansCondensed-Bold", sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.banner-heading__title {
  font-family: "OpenSansCondensed-Bold", sans-serif;
  font-size: 16.5rem;
  line-height: 16.5rem;
}

.banner-heading__button {
  margin-top: 3.3rem;
}

.features {
  height: 100vh;
  padding-top: 15rem;
}

.features .wrapper {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__heading {
  color: #262626;
  text-align: center;
}

.features__heading-title {
  font-family: "OpenSansCondensed-Bold", sans-serif;
  text-transform: uppercase;
}

.features__heading_text {
  font-family: "OpenSansHebrewCondensed-Regular", sans-serif;
  font-size: 1.6rem;
}

.features__block {
  width: 1008px;
  color: #fff;
  margin-top: 5.2rem;
  display: flex;
  justify-content: space-between;
}

.features__block-item {
  position: relative;
  height: 41.7rem;
  width: 31.2rem;
}

.features__block-item_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.features__block-item_box {
  position: absolute;
  height: 40%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #00c7dc 6.25%, rgba(22, 220, 240, 0.46) 100%);
  padding: 2rem;
}

.features__block-item_title {
  font-family: "OpenSansHebrewCondensed-Bold", sans-serif;
  font-size: 2.4rem;
}

.features__block-item_text {
  font-family: "OpenSansHebrewCondensed-Regular", sans-serif;
  font-size: 1.6rem;
}

.read-more-btn {
  color: #fff;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-family: "OpenSansHebrewCondensed-Bold", sans-serif;
  font-size: 1.6rem;
}

.read-more-btn:hover {
  text-shadow: 0 0 1px #fff;
}

.features__block-item_fav-btn {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
  background: linear-gradient(90deg, #16dcf0 6.25%, rgba(22, 220, 240, 0.46) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav-btn {
  color: #fff;
}

.discount {
  background: #87ceeb url(./../img/discount.png) center center no-repeat;
  background-size: cover;
  color: #fff;
  height: 70vh;
  position: relative;
}

.discount__shadow-box {
  width: 50%;
  height: 100%;
  background: rgba(57, 57, 57, 0.44);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 54px;
}

.discount__heading {
  width: 476px;
}

.discount__heading-title {
  font-size: 10rem;
}

.discount__heading-text {
  font-size: 4.8rem;
}

.discount__heading-description {
  font-family: "OpenSansHebrewCondensed-Bold", sans-serif;
  font-size: 1.6rem;
}

.slider-airlines {
  height: 60vh;
}

.order {
  height: 100vh;
  background: #87ceeb url(./../img/order.png) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-form {
  padding: 8.5rem 8.9rem;
  height: 664px;
  width: 1102px;
  background-color: #fff;
  position: relative;
  display: grid;
  grid-column-gap: 3.7rem;
  grid-row-gap: 2.7rem;
  grid-template-rows: repeat(4, 68px);
  justify-content: center;
  justify-items: stretch;
  grid-template-areas: "title title" "name hotel" "surname city" "date guests";
}

.order-form__title {
  grid-area: title;
  color: #262626;
  text-align: center;
}

.order-form__input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order-form__input-field:nth-child(2) {
  grid-area: name;
}

.order-form__input-field:nth-child(3) {
  grid-area: surname;
}

.order-form__input-field:nth-child(4) {
  grid-area: hotel;
}

.order-form__input-field:nth-child(5) {
  grid-area: city;
}

.order-form__input-field:nth-child(6) {
  grid-area: date;
  display: flex;
  flex-direction: row;
  width: 267px;
  justify-content: space-between;
}

.order-form__input-field:nth-child(7) {
  grid-area: guests;
  display: flex;
}

.order-form__field-name {
  font-family: "OpenSans-Regular";
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #454545;
  margin-bottom: 9px;
}

/* Input-Text Styles */
.order-form__input-text {
  position: relative;
}

.order-form__input-text input[type="text"] {
  display: block;
  width: 39.9rem;
  height: 4.5rem;
  padding: 0 1rem;
  background: none;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  appearance: none;
  font-family: "Roboto-Regular";
  font-size: 2rem;
}

.order-form__input-text input[type="text"]:focus {
  outline: 0;
  border-color: #255e93;
}

/* Select Styles */
.order-form__selector {
  position: relative;
}

.order-form__selector:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41 0.590027L6 5.17003L10.59 0.590027L12 2.00003L6 8.00003L0 2.00003L1.41 0.590027Z' fill='%23C4C4C4'/%3E%3C/svg%3E") center center no-repeat;
  background-size: 12px;
  pointer-events: none;
  position: absolute;
  top: 46%;
  right: 4%;
  z-index: 1;
  margin-top: -3px;
}

.order-form__selector select {
  display: block;
  width: 39.9rem;
  height: 4.5rem;
  padding: 0 1rem;
  background: none;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  appearance: none;
  font-family: "Roboto-Regular";
  font-size: 2rem;
}

.order-form__selector select:focus {
  outline: 0;
  border-color: #255e93;
}

.order-form__date-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order-form__date-field .order-form__field-name {
  margin-bottom: 4px;
}

.order-form__input-date {
  width: 11.5rem;
  height: 4.5rem;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  font-family: "Roboto-Regular";
  font-size: 1.4rem;
  padding: 0 0.5rem;
}

.order-form__guest {
  font-family: "OpenSans-Regular";
  font-size: 12px;
  line-height: 16px;
  color: #262626;
}

.guest-field .order-form__field-name {
  margin-bottom: 14px;
}

.order-form__guests-selector {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.order-form__button {
  position: absolute;
  bottom: 105px;
  right: 134px;
}

/* Checkbox Styles */
.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox__label {
  padding-left: 25px;
  cursor: pointer;
}

.checkbox__label:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #255e93;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 1;
  transition: background 0.1s linear, border 0.1s linear;
}

.checkbox__label:after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: #255e93 url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.96991 0.962026C7.11078 0.833077 7.29824 0.761789 7.49273 0.763204C7.68722 0.764619 7.87354 0.838627 8.01236 0.96961C8.15118 1.10059 8.23165 1.27831 8.23679 1.46525C8.24194 1.6522 8.17134 1.83375 8.03991 1.97161L4.04991 6.76952C3.9813 6.84058 3.8985 6.8976 3.80645 6.93718C3.71439 6.97676 3.61498 6.99808 3.51416 6.99988C3.41334 7.00167 3.31318 6.9839 3.21967 6.94762C3.12616 6.91135 3.04121 6.85731 2.96991 6.78875L0.323913 4.24461C0.250227 4.17859 0.191125 4.09898 0.150133 4.01052C0.109141 3.92206 0.0870986 3.82657 0.0853218 3.72974C0.083545 3.63292 0.10207 3.53674 0.139791 3.44694C0.177512 3.35715 0.233657 3.27558 0.304875 3.20711C0.376094 3.13863 0.460928 3.08464 0.554316 3.04838C0.647704 3.01211 0.747733 2.9943 0.848436 2.996C0.949139 2.99771 1.04845 3.01891 1.14045 3.05832C1.23245 3.09773 1.31525 3.15456 1.38391 3.22541L3.47791 5.23784L6.95091 0.983179C6.95717 0.975776 6.96384 0.968714 6.97091 0.962026H6.96991Z' fill='white'/%3E%3C/svg%3E%0A") center center no-repeat;
  background-size: 10px;
  border-radius: 3px;
  opacity: 0;
  position: absolute;
  top: 1px;
  left: 3px;
  z-index: 2;
  transition: opacity 0.1s linear;
}

.checkbox__input:checked + .checkbox__label:before {
  background-color: #fff;
  border-color: #255e93;
}

.checkbox__input:checked + .checkbox__label:after {
  opacity: 1;
}

.checkbox__input:focus + .checkbox__label::before {
  box-shadow: 0 0 0 1px #255e93;
}

.checkbox__input:disabled + .checkbox__label::before {
  border: 1px solid #9b9b9b;
  color: #9b9b9b;
}

.checkbox__input:checked:disabled + .checkbox__label::after {
  background-color: #9b9b9b;
  color: #9b9b9b;
}

/* Radio Styles */
.radio {
  position: relative;
}

.radio__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio__label {
  padding-left: 25px;
  cursor: pointer;
}

.radio__label:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #255e93;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 1;
  transition: border 0.1s linear;
}

.radio__label:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: #255e93 center center no-repeat;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  top: 2px;
  left: 4px;
  z-index: 2;
  transition: opacity 0.1s linear;
}

.radio__input:checked + .radio__label:before {
  border-color: #255e93;
}

.radio__input:checked + .radio__label:after {
  opacity: 1;
}

.radio__input:focus + .radio__label:before {
  box-shadow: 0 0 0 1px #255e93;
}

.radio__input:disabled + .radio__label:before {
  border: 1px solid #9b9b9b;
}

.radio__input:checked:disabled + .radio__label:after {
  background-color: #9b9b9b;
}

.fter {
  height: 19rem;
  width: 100%;
  font-size: 1.8rem;
  font-family: "OpenSansHebrewCondensed-Bold", sans-serif;
  color: #030303;
  position: relative;
}

.fter ul {
  list-style: none;
}

.fter a {
  color: #030303;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 58px;
  width: 100%;
}

.footer-menu {
  width: 513px;
}

.footer-menu__navbar {
  display: flex;
  justify-content: space-between;
}

.footer-menu__navbar-link:hover {
  border-bottom: 2px solid #030303;
  padding-bottom: 1rem;
}

.socials {
  width: 8rem;
  font-size: 24px;
}

.socials__menu {
  display: flex;
  justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */