.banner {
  position: relative;
  min-height: 100vh;
  color: #fff;
  background: #87ceeb url(./../img/main.png) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  &__heading {
    text-align: center;
  }
  &__text {
    font-family: "OpenSansCondensed-Bold", sans-serif;
    font-size: 2.4rem;
    text-transform: uppercase;
  }
  &__title {
    font-family: "OpenSansCondensed-Bold", sans-serif;
    font-size: 16.5rem;
    line-height: 16.5rem;
  }
  &__button {
    margin-top: 3.3rem;
  }
}

// Устройства X-Large (большие настольные компьютеры, менее 1400 пикселей)
@media (max-width: 1399.98px) {
}

// Устройства Large (настольные компьютеры, менее 1200 пикселей)
@media (max-width: 1199.98px) {
}

// Устройства Medium (планшеты, менее 992 пикселей)
@media (max-width: 992px) {
}

// Устройства Small (телефоны с горизонтальной ориентацией, менее 768 пикселей)
@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
  .banner {
    &__title {
      font-size: 27vw;
      line-height: 27vw;
    }
    &__text {
      font-size: 6vw;
    }
  }
}
