.discount {
  background: #87ceeb url(./../img/discount.png) center center no-repeat;
  background-size: cover;
  color: #fff;
  height: 70vh;
  position: relative;
}

.discount__shadow-box {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  width: 50%;
  height: 100%;
  background: rgba(57, 57, 57, 0.44);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 54px;
}

.discount__heading {
  width: 476px;
}

.discount__heading-title {
  font-size: 10rem;
}

.discount__heading-text {
  font-size: 4.8rem;
}

.discount__heading-description {
  font-family: "OpenSansHebrewCondensed-Bold", sans-serif;
  font-size: 1.6rem;
}

.discount__heading-button {
}
