.features {
  height: 976px;
  padding-top: 25rem;
  .wrapper {
    margin: 0 auto;
    max-width: 1008px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__heading {
    color: #262626;
    text-align: center;
  }
  &__title {
    font-family: "OpenSansCondensed-Bold", sans-serif;
    text-transform: uppercase;
  }
  &__text {
    font-family: "OpenSansHebrewCondensed-Regular", sans-serif;
    font-size: 1.6rem;
  }
  &__row {
    width: 100%;
    color: #fff;
    margin-top: 5.2rem;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
  }
}

.item-features {
  position: relative;
  height: 41.7rem;
  width: 31.2rem;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    height: auto;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: fill;
    }
  }
  &__content {
    transition-duration: 0.25s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 40%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #00c7dc 6.25%, rgba(22, 220, 240, 0.46) 100%);
    padding: 2rem;
  }
  &__title {
    transition-duration: 0.25s;
    font-family: "OpenSansHebrewCondensed-Bold", sans-serif;
    font-size: 2.4rem;
  }
  &__text {
    transition-duration: 0.25s;
    font-family: "OpenSansHebrewCondensed-Regular", sans-serif;
    font-size: 1.6rem;
  }
  &__fav-btn {
    transition-duration: 0.25s;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    background: linear-gradient(90deg, #16dcf0 6.25%, rgba(22, 220, 240, 0.46) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
}

.read-more-btn {
  transition-duration: 0.25s;
  color: #fff;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-family: "OpenSansHebrewCondensed-Bold", sans-serif;
  font-size: 1.6rem;
  &:hover {
    text-shadow: 0 0 1px #fff;
  }
}
.fav-btn {
  color: #fff;
  &:hover {
    text-shadow: 0 0 1px #fff;
  }
}

.item-features:hover {
  .item-features__content {
    transition-duration: 0.25s;
    justify-content: center;
    height: 100%;
  }
  .item-features__title {
    transition-duration: 0.25s;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .item-features__text {
    transition-duration: 0.25s;
    font-size: 2rem;
  }

  .item-features__fav-btn {
    transition-duration: 0.25s;
    background: none;
    font-size: 2.8rem;
  }
  .read-more-btn {
    transition-duration: 0.25s;
    font-size: 2.6rem;
  }
}

// Устройства X-Large (большие настольные компьютеры, менее 1400 пикселей)
@media (max-width: 1399.98px) {
}

// Устройства Large (настольные компьютеры, менее 1200 пикселей)
@media (max-width: 1199.98px) {
}

// Устройства Medium (планшеты, менее 992 пикселей)
@media (max-width: 992px) {
  .features {
    height: max-content;
    padding: 5rem 0.5rem;
    &__row {
      flex-direction: column;
      align-items: center;
    }
  }
  .item-features {
    margin-top: 3rem;
    height: 54.7rem;
    width: 51.2rem;
    &:first-child {
      margin: 0;
    }
  }
}

// Устройства Small (телефоны с горизонтальной ориентацией, менее 768 пикселей)
@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
  .item-features {
    width: 90%;
    height: 41.7rem;
  }
}
