.features {
  height: 976px;
  padding-top: 15rem;
  .wrapper {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__heading {
    color: #262626;
    text-align: center;
  }
  &__title {
    font-family: "OpenSansCondensed-Bold", sans-serif;
    text-transform: uppercase;
  }
  &__text {
    font-family: "OpenSansHebrewCondensed-Regular", sans-serif;
    font-size: 1.6rem;
  }
  &__row {
    width: 1008px;
    color: #fff;
    margin-top: 5.2rem;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.item-features {
  position: relative;
  height: 41.7rem;
  max-width: 31.2rem;
  flex: 1 1 auto;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    height: auto;
  }
  &__content {
    position: absolute;
    height: 40%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #00c7dc 6.25%, rgba(22, 220, 240, 0.46) 100%);
    padding: 2rem;
  }
  &__title {
    font-family: "OpenSansHebrewCondensed-Bold", sans-serif;
    font-size: 2.4rem;
  }
  &__text {
    font-family: "OpenSansHebrewCondensed-Regular", sans-serif;
    font-size: 1.6rem;
  }
  &__fav-btn {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    background: linear-gradient(90deg, #16dcf0 6.25%, rgba(22, 220, 240, 0.46) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.read-more-btn {
  color: #fff;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-family: "OpenSansHebrewCondensed-Bold", sans-serif;
  font-size: 1.6rem;
  &:hover {
    text-shadow: 0 0 1px #fff;
  }
}
.fav-btn {
  color: #fff;
}
