.fter {
  height: 19rem;
  width: 100%;
  font-size: 1.8rem;
  font-family: "OpenSansHebrewCondensed-Bold", sans-serif;
  color: #030303;
  position: relative;
  ul {
    list-style: none;
  }
  a {
    color: #030303;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 0 3rem 5.8rem 3rem;
  width: 100%;
  .wrapper {
  }
  &__navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
  }
  &__menu {
    width: 46vw;
  }
  &__link {
    &:hover {
      border-bottom: 2px solid #030303;
      padding-bottom: 1rem;
    }
  }
}

.socials {
  width: 8rem;
  font-size: 24px;
  &__menu {
    display: flex;
    justify-content: space-between;
  }
  &__link {
  }
}

// Устройства X-Large (большие настольные компьютеры, менее 1400 пикселей)
@media (max-width: 1399.98px) {
}

// Устройства Large (настольные компьютеры, менее 1200 пикселей)
@media (max-width: 1199.98px) {
  .footer {
    &__menu {
      width: 60vw;
    }
  }
}

// Устройства Medium (планшеты, менее 992 пикселей)
@media (max-width: 992px) {
}

// Устройства Small (телефоны с горизонтальной ориентацией, менее 768 пикселей)
@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}
