.header {
  position: absolute;
  top: 0;
  padding: 3.6rem 3rem 0 3rem;
  width: 100%;
  font-size: 1.8rem;
  font-family: "OpenSansHebrewCondensed-Bold", sans-serif;
  z-index: 5;
  &__menu {
    width: 513px;
  }
  &__navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  &__burger {
    display: none;
    position: absolute;
    left: 0;
  }
  .wrapper {
    align-items: flex-start;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__text {
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    align-content: flex-start;
  }
}

.header__link {
  text-decoration: none;
  color: #fff;
  &:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 1rem;
    text-shadow: 0 0 1px #fff;
  }
}

.search-box {
  display: flex;
  align-items: flex-start;
}

.search-form {
  border-bottom: 2px solid #fff;
  padding-bottom: 1rem;
  &__input {
    text-decoration: none;
    border: none;
    background: transparent;
    width: 12rem;
    padding: 0.3rem 0.5rem;
    font-family: "Roboto-Regular";
    font-size: 1.6rem;
    color: #fff;
  }
  &__button {
    cursor: pointer;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 1.7rem;
  }
  input[type="text"]:focus {
    outline: 0;
  }
}
.favorites__button {
  color: #fff;
  margin-left: 1.1rem;
}

/* скрываем чекбокс */
#burger__checkbox {
  opacity: 0;
}
/* стилизуем кнопку */
.burger__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center; /* центрируем содержимое кнопки */
  position: absolute;
  top: 22%;
  left: 2rem;
  width: 13px;
  height: 13px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.burger__btn > span,
.burger__btn > span::before,
.burger__btn > span::after {
  display: block;
  position: absolute;

  top: 46%;
  width: 13px;
  height: 2px;
  background-color: #fff;
}
.burger__btn > span::before {
  content: "";
  top: -8px;
}
.burger__btn > span::after {
  content: "";
  top: 8px;
}
/* контейнер меню */
.burger__box {
  border-top: 2px solid #fff;
  border-radius: 2px;
  display: block;
  position: absolute;
  visibility: hidden;
  top: -100vh;
  // left: -100vw;
  width: 100vw;
  height: max-content;
  // margin-top: 1.1rem;
  list-style: none;
  text-align: left;
  background: linear-gradient(90deg, #16dcf0 6.25%, rgba(22, 220, 240, 0.46) 100%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
/* элементы меню */
.burger__item {
  display: block;
  padding: 12px 4vw 12px 7vw;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}
.burger__item:hover {
  background-color: transparent;
}
#burger__checkbox:checked ~ .burger__btn > span {
  transform: rotate(45deg);
}
#burger__checkbox:checked ~ .burger__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#burger__checkbox:checked ~ .burger__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#burger__checkbox:checked ~ .burger__box {
  visibility: visible;
  top: 3.5rem;
}
.burger__btn > span,
.burger__btn > span::before,
.burger__btn > span::after {
  transition-duration: 0.25s;
}
.burger__box {
  transition-duration: 0.45s;
}
.burger__item {
  transition-duration: 0.45s;
}

// Устройства X-Large (большие настольные компьютеры, менее 1400 пикселей)
@media (max-width: 1399.98px) {
}

// Устройства Large (настольные компьютеры, менее 1200 пикселей)
@media (max-width: 1199.98px) {
}

// Устройства Medium (планшеты, менее 992 пикселей)
@media (max-width: 992px) {
  .header {
    &__menu {
      width: 45vw;
    }
  }
}

// Устройства Small (телефоны с горизонтальной ориентацией, менее 768 пикселей)
@media (max-width: 767.98px) {
  .header {
    &__burger {
      display: block;
    }
    &__menu {
      display: none;
    }
  }
  .logo {
    &__text {
      margin-left: 9px;
    }
  }
}

@media (max-width: 575.98px) {
  .header {
    padding: 2rem 1.5rem 0 1.5em;
  }
  .search-form {
    &__input {
      width: 25vw;
    }
  }
  .burger__item {
    padding-left: 13vw;
  }
}
