.header {
  position: absolute;
  top: 0;
  padding-top: 3.6rem;
  width: 100%;
  font-size: 1.8rem;
  font-family: "OpenSansHebrewCondensed-Bold", sans-serif;
}

.logo__text {
  line-height: 2.5rem;
  display: flex;
  align-items: center;
  align-content: flex-start;
}

.header-menu {
  width: 513px;
}

.header-menu__navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header-menu__navbar-link {
  text-decoration: none;
  color: #fff;
}

.header-menu__navbar-link:hover,
.header-menu__navbar-link-active {
  border-bottom: 2px solid #fff;
  padding-bottom: 1rem;
}

.header-menu__navbar-link:hover {
  text-shadow: 0 0 1px #fff;
}

.search-box {
  display: flex;
  align-items: flex-start;
}

.search-form {
  border-bottom: 2px solid #fff;
  padding-bottom: 1rem;
}

.search-form__input {
  text-decoration: none;
  border: none;
  background: transparent;
  width: 12rem;
}

.search-form__button {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 1.7rem;
}

.favorites__button {
  color: #fff;
  margin-left: 1.1rem;
}
