.order {
  height: 100vh;
  background: #87ceeb url(./../img/order.png) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-form {
  padding: 8.5rem 8.9rem;
  height: 664px;
  width: 1102px;
  background-color: #fff;
  position: relative;
  display: grid;
  grid-column-gap: 3.7rem;
  grid-row-gap: 2.7rem;
  grid-template-rows: repeat(4, 68px);
  justify-content: center;
  justify-items: stretch;
  grid-template-areas:
    "title title"
    "name hotel"
    "surname city"
    "date guests";

  &__title {
    grid-area: title;
    color: #262626;
    text-align: center;
  }
}

.order-form__input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &:nth-child(2) {
    grid-area: name;
  }
  &:nth-child(3) {
    grid-area: surname;
  }
  &:nth-child(4) {
    grid-area: hotel;
  }
  &:nth-child(5) {
    grid-area: city;
  }
  &:nth-child(6) {
    grid-area: date;
    display: flex;
    flex-direction: row;
    width: 267px;
    justify-content: space-between;
  }
  &:nth-child(7) {
    grid-area: guests;
    display: flex;
  }
}

.order-form__field-name {
  font-family: "OpenSans-Regular";
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #454545;
  margin-bottom: 9px;
}

/* Input-Text Styles */

.order-form__input-text {
  position: relative;
  input[type="text"] {
    display: block;
    width: 39.9rem;
    height: 4.5rem;
    padding: 0 1rem;
    background: none;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
    font-family: "Roboto-Regular";
    font-size: 2rem;
  }
  input[type="text"]:focus {
    outline: 0;
    border-color: #255e93;
  }
}

/* Select Styles */

.order-form__selector {
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41 0.590027L6 5.17003L10.59 0.590027L12 2.00003L6 8.00003L0 2.00003L1.41 0.590027Z' fill='%23C4C4C4'/%3E%3C/svg%3E")
      center center no-repeat;
    background-size: 12px;
    pointer-events: none;
    position: absolute;
    top: 46%;
    right: 4%;
    z-index: 1;
    margin-top: -3px;
  }
  select {
    display: block;
    width: 39.9rem;
    height: 4.5rem;
    padding: 0 1rem;
    background: none;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
    font-family: "Roboto-Regular";
    font-size: 2rem;
  }
  select:focus {
    outline: 0;
    border-color: #255e93;
  }
}

.order-form__date-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .order-form__field-name {
    margin-bottom: 4px;
  }
}

.order-form__input-date {
  width: 11.5rem;
  height: 4.5rem;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  font-family: "Roboto-Regular";
  font-size: 1.4rem;
  padding: 0 0.5rem;
}

.order-form__guest {
  font-family: "OpenSans-Regular";
  font-size: 12px;
  line-height: 16px;
  color: #262626;
}

.guest-field .order-form__field-name {
  margin-bottom: 14px;
}

.order-form__guests-selector {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.order-form__button {
  position: absolute;
  bottom: 105px;
  right: 134px;
}

/* Checkbox Styles */

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox__label {
  padding-left: 25px;
  cursor: pointer;
  &:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;

    border: 1px solid #255e93;
    background-color: #fff;
    border-radius: 5px;

    position: absolute;
    top: -2px;
    left: 0;
    z-index: 1;

    transition: background 0.1s linear, border 0.1s linear;
  }
  &:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;

    background: #255e93
      url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.96991 0.962026C7.11078 0.833077 7.29824 0.761789 7.49273 0.763204C7.68722 0.764619 7.87354 0.838627 8.01236 0.96961C8.15118 1.10059 8.23165 1.27831 8.23679 1.46525C8.24194 1.6522 8.17134 1.83375 8.03991 1.97161L4.04991 6.76952C3.9813 6.84058 3.8985 6.8976 3.80645 6.93718C3.71439 6.97676 3.61498 6.99808 3.51416 6.99988C3.41334 7.00167 3.31318 6.9839 3.21967 6.94762C3.12616 6.91135 3.04121 6.85731 2.96991 6.78875L0.323913 4.24461C0.250227 4.17859 0.191125 4.09898 0.150133 4.01052C0.109141 3.92206 0.0870986 3.82657 0.0853218 3.72974C0.083545 3.63292 0.10207 3.53674 0.139791 3.44694C0.177512 3.35715 0.233657 3.27558 0.304875 3.20711C0.376094 3.13863 0.460928 3.08464 0.554316 3.04838C0.647704 3.01211 0.747733 2.9943 0.848436 2.996C0.949139 2.99771 1.04845 3.01891 1.14045 3.05832C1.23245 3.09773 1.31525 3.15456 1.38391 3.22541L3.47791 5.23784L6.95091 0.983179C6.95717 0.975776 6.96384 0.968714 6.97091 0.962026H6.96991Z' fill='white'/%3E%3C/svg%3E%0A")
      center center no-repeat;
    background-size: 10px;
    border-radius: 3px;
    opacity: 0;

    position: absolute;
    top: 1px;
    left: 3px;
    z-index: 2;

    transition: opacity 0.1s linear;
  }
}

// Checked

.checkbox__input:checked + .checkbox__label:before {
  background-color: #fff;
  border-color: #255e93;
}

.checkbox__input:checked + .checkbox__label:after {
  opacity: 1;
}

// Focused

.checkbox__input:focus + .checkbox__label::before {
  box-shadow: 0 0 0 1px #255e93;
}

// Disabled

.checkbox__input:disabled + .checkbox__label::before {
  border: 1px solid #9b9b9b;
  color: #9b9b9b;
}
.checkbox__input:checked:disabled + .checkbox__label::after {
  background-color: #9b9b9b;
  color: #9b9b9b;
}

/* Radio Styles */

.radio {
  position: relative;
}

.radio__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio__label {
  padding-left: 25px;
  cursor: pointer;
  &:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #255e93;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 1;
    transition: border 0.1s linear;
  }
  &:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;

    background: #255e93 center center no-repeat;
    border-radius: 50%;
    opacity: 0;

    position: absolute;
    top: 2px;
    left: 4px;
    z-index: 2;

    transition: opacity 0.1s linear;
  }
}

// Checked

.radio__input:checked + .radio__label:before {
  border-color: #255e93;
}

.radio__input:checked + .radio__label:after {
  opacity: 1;
}

// Radio Focused

.radio__input:focus + .radio__label:before {
  box-shadow: 0 0 0 1px #255e93;
}

// Radio Disabled

.radio__input:disabled + .radio__label:before {
  border: 1px solid #9b9b9b;
}
.radio__input:checked:disabled + .radio__label:after {
  background-color: #9b9b9b;
}
