.slider-airlines {
  position: relative;
}

.item {
  margin: 5rem 2.9rem;
}

.blur-left {
  height: 100%;
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(270deg, #ffffff 37.31%, rgba(255, 255, 255, 0.17) 90.59%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: 3;
}

.blur-right {
  height: 100%;
  width: 10%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(270deg, #ffffff 37.31%, rgba(255, 255, 255, 0.17) 90.59%);
  z-index: 3;
}

// Устройства X-Large (большие настольные компьютеры, менее 1400 пикселей)
@media (max-width: 1399.98px) {
}

// Устройства Large (настольные компьютеры, менее 1200 пикселей)
@media (max-width: 1199.98px) {
}

// Устройства Medium (планшеты, менее 992 пикселей)
@media (max-width: 992px) {
  img {
    height: 150px;
  }
}

// Устройства Small (телефоны с горизонтальной ориентацией, менее 768 пикселей)
@media (max-width: 767.98px) {
  .slider-airlines {
    img {
      margin: 0 auto;
    }
  }
  .item {
    margin: 5rem 0;
  }
}

@media (max-width: 575.98px) {
  .slider-airlines {
    img {
      height: 130px;
    }
  }
}
